{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="user-data" class="section">
                    <h2>
                        <span>{{ firstName }} {{ lastName }}</span>
                        <span>({{ username }})</span>
                    </h2>

                    <span class="login-link">
                        {% if is_granted('ROLE_USER') %}
                            <a class="button" href="/admin/logout">Logout</a>
                        {% else %}
                           <a class="button" href="/login">Login</a>
                        {% endif %}
                    </span>
                </div>
            </div>

            <div class="col-md-12">
                <div id="gallery" class="section">
                    {% for image in images %}
                        <div>
                            <img src="/images/{{ image.FileName }}"
                                 data-images-emotions="{{ image.ProcessingResult }}"/>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-md-12">
                <div class="emotions-wrapper section">
                    <h2>Results</h2>
                    <div id="photo-emotions">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/slick/slick.min.js"></script>
    <script type="text/javascript" src="/assets/js/script.js"></script>
{% endblock %}
